.dailyCard {
    background-color: #e7e4d5;
    padding: 5px 20px;
    padding-left: 16px;
    border-radius: 1em;
    margin-left: -32px;

}
.dailyCard div {
    display: initial;
    align-items: flex-start;
    margin-bottom: 0.5em;
}
.dailyCard>div>span {
    width: 20px;
    text-align: end;
}
.dailyCard>div>div {
    margin-left: 2.5em;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.dailyCard span{
    font-size: 0.675em;
    color: var(--textColor);
    font-weight: 600;
}
.dailyCard p {
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}