.PhoneConfirmContanier {
    padding: 3em 1.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f0e4;
    position: relative;
}

.PhoneConfirmContanier h1{
    font-size: 2.5em;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 10px;
    color: var(--textColor);
}
.PhoneConfirmContanier p{
    font-size: 0.775em;
    font-weight: 400;
    font-style: normal;
    margin:0;
    max-width: 320px;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;
}
.PhoneConfirmContanier p span {
    font-weight: bold;
}
.backBtn {
    position: absolute;
    top: 10px;
    left: 10px;
}
.backBtn img{
    width: 20px;
}
.notficationContainer {
    border-radius: 1em;
    background-color: #ffff;
    box-shadow: 0px 0px 6px #cccc;
}
.notficationContainer h3 {
    font-size: 1.3em;
    font-weight: 600;
    color: #000;
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
}
.notficationContainer p {
    font-size: .900em;
    font-weight: 500;
    line-height: 1.3;
    margin: auto;
}
.notficationContainer .action_btn {
    position: relative;
}
.notficationContainer .action_btn a{
    display: inline-block;
    width: 50%;
    text-decoration: none; 
    padding: 0.5em;
    border-top: 1px solid #cccc ;
    color: var(--btnBgColor);
}

.notficationContainer .action_btn>a:first-child {
    border-right: 1px solid #cccc;
    
}
.notficationContainer .hand_icon {
    position: absolute;
    bottom: -84px;
    right: 67px;
    width: 80px;
}